<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block pageTitle %}{{ pageTitle }} | {{ serviceName }}{% endblock %}</title>
    {% for href in stylesheets %}
      <link rel="stylesheet" href="{{ href }}" />
    {% endfor %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block bodyEnd %}{% endblock %}
  </body>
</html>
